{% extends "master.html" %}

{% block title %}Trainer List{% endblock %}

{% block content %}
    <h1>Trainer List</h1>

    <!-- Add Trainer Button -->
    <a href="{% url 'trainers:add_trainer' %}" class="add-trainer-button">
        <button type="button">➕ Add Trainer</button>
    </a>

    <ul>
        {% for trainer in trainers %}
            <li>
                <a href="{% url 'trainers:trainer_detail' trainer.trainer_id %}">{{ trainer.trainer_name }}</a>
            </li>
        {% empty %}
            <li>No trainers found.</li>
        {% endfor %}
    </ul>
{% endblock %}
