<!-- pilots/templates/pilots/pilot_list.html -->
{% extends "master.html" %}

{% block title %}Pilot List{% endblock %}

{% block content %}
    <h1>Pilot List</h1>

    <a href="{% url 'pilots:add_pilot' %}" class="add-pilot-button">
        <button type="button">➕ Add Pilot</button>
    </a>

    <ul>
        {% for pilot in pilots %}
            <li>
                <a href="{% url 'pilots:pilot_detail' pilot.pilot_id %}">{{ pilot.pilot_name }}</a> - {{ pilot.email }}
            </li>
        {% empty %}
            <li>No pilots found.</li>
        {% endfor %}
    </ul>
{% endblock %}
