<!-- pilots/templates/pilots/pilot_list.html -->
{% extends "master.html" %}

{% block title %}Pilot List{% endblock %}

{% block content %}
    <h1>Pilot List</h1>

    <a href="{% url 'pilots:add_pilot' %}" class="add-pilot-button">
        <button type="button">➕ Add Pilot</button>
    </a>

    <ul>
        {% for pilot in pilots %}
            <li>
                <a href="{% url 'pilots:pilot_detail' pilot.pilot_id %}">{{ pilot.pilot_name }}</a> - {{ pilot.email }}
                <a href="{% url 'pilots:edit_pilot' pilot.pilot_id %}" title="Edit Pilot">
                    <button type="button" class="edit-pilot-button">✏️ Edit Pilot</button>
                </a>

                <form action="{% url 'pilots:delete_pilot' pilot.pilot_id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="delete-pilot-button" onclick="return confirm('Are you sure you want to delete this pilot?');">🗑️ Delete Pilot</button>
                </form>
                
            </li>
        {% empty %}
            <li>No pilots found.</li>
        {% endfor %}
    </ul>
{% endblock %}
